body {
    text-align: center;
  }

img {
    width: 100px;
    height: 100px;
  }
  

  .information{
    font-size: 36px;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
  }


